<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>blah</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://localhost:3000/style.css">

</head>
<body>
	<nav>
		<div class= "one col-sm-8">
			<form action="/" method="GET">
				<button>Home</button>
			</form>
			<form action="/letters/new" method="GET">
				<button>Create Mail</button>
			</form>
			<form action="/letters" method="GET">
				<button>Mail History</button>
			</form>
		</div>
		<div class="one col-sm-4">
			<form action="/letters/show" method="POST">
				<input type="text" name="id" placeholder="Search By ID">
				<button>Click</button>
			</form>
		</div>
	</nav>

	<div class="left col-sm-2"></div>
	<div class="container col-sm-8">
	<div class="logo"></div><br><br>
		
		<h1>Mail you searched by ID</h1><br><br>

		<p class="text"> <%= mail.name %>'s Letter:  <%= mail.text %> </p>
	</div>
	<div class="right col-sm-2"></div>


	</body>
</html>